.rpwwt-widget ul { list-style: outside none none; margin-left: 0; margin-right: 0; padding-left: 0; padding-right: 0; }
.rpwwt-widget ul li { overflow: hidden; margin: 0px; }
.rpwwt-widget ul li:last-child { margin: 0; }
.rpwwt-widget ul li img { display: inline; float: left; margin: 0px 5px 5px 0; }
#rpwwt-recent-posts-widget-with-thumbnails-2 img { width: 48px; height: 48px; }
